@media screen and (max-width: 1260px){
    .nav_list_wrap:nth-child(3){
        display: block;
    }
    .nav_list_wrap:nth-child(2){
        display: none;

    }
    .header_info_item:first-child{
        flex-direction: row;
        align-items: center;
    }
    .header_info_item{
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
        row-gap: 10px;
    }
    .header_client_item{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .header_client_item p{
        text-align: center;
    }
    .header_form button{
        width: auto;
        height: auto;
        padding: 15px 11px;
    }
    .header_form button p{
        display: none;
    }
    .price{
        display: flex;
        flex-direction: column-reverse;
    }
    .content_box{
        flex-shrink: 1;
    }
    .slider_wraper_img{
        flex-shrink: 2;
        height: 80%;
    }
    .content_box h3{
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
    }
    .content_box p{
        font-size: 16px;
        line-height: 19px;
    }
    .content_box .price .sale{
        font-size: 18px;
        line-height: 21px;
    }
    .content_box .price{
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;

    }
}




@media screen and (max-width: 860px){
    nav .container{
        justify-content: start;
        column-gap: 15px;
    }
    .nav_list_wrap:first-child .dropdown{
        display: none;
    }
    .header_info_item:nth-child(2){
        display: none;
    }
    .header_info_item{
       flex-grow: 0;
    }
    .header_info_row{
        justify-content: space-between;
    }
    .header_wrap_content h3{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px
    }
    .header_wrap_content p,
    .messenger p
    {
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
    }
    .messenger p{
        width: 126px;
    }
    .messenger{
        padding: 5px 7px;
    }
    .search_mob{
        display: block;
    }
    .header_form button span{
        display: none;
    }
    .header_form button[type="submit"]{
        width: auto;
        padding: 15px;
    }
    .header_form input[type="text"]{
        padding-left: 5px;
    }
    .slider_wrap .container{
        flex-direction: column;
    }
    .slider_container{
        max-width: 100%;
    }
    .slider_sale_wrap{
        column-gap: 10px;
        flex-direction: row;
        margin-top: 15px;
        overflow: hidden;
    }
    .slider_sale_item{
        min-width: 250px;
        height: 145px;
    }
    .slider_sale_item h3{
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
    .slider_sale_item p{
        font-size: 10px;
        line-height: 12px;
    }
    .price_btn p{
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
    }
    .price_btn p span{
        font-size: 12px;
        line-height: 14px;
    }
    .previous,
    .next{
        display: none;
    }
}

@media screen and (max-width: 720px){
    .header_client_wrap{
        display: none;
    }
    .header_form input[type="text"]{
        width: 95%;
    }
    .slider_wraper_img{
        height: 60%;
    }
}
